/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
li {
	padding: 15px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 *
 *
 *
 */ 
html {
	width: 900px;
	height: 506px;
}
body {
	width: 900px;
	height: 506px;
	background-color: #000;
	color: #000;
	font-family: "Asap";
}
a:link,
a:visited,
a:active {
	color: #fff;
	font-weight: bold;
}
a:hover {
	color: #bbb;
}
/*WRAPPER*/
div#wrapper {
	width: 900px;
	height: 506px; 
	margin: 0;
	position: relative;
	background: url('../img/fondo.png') top left no-repeat;
}
/*CONTENT*/
div#content {
	position: absolute;
	width: 540px;
	height: 235px;
	color: white;
	right: 0;
	margin: 35px 15px 40px;
	padding: 15px;
	text-align: justify;
	background-color: rgba(0,0,0,0.3);
	border-radius: 15px;
}
div#content p {
	color: #ddd;
	font-size: 0.95em;
	line-height: 1.2em;
}

div#content a {
	color: #fff;
}

div#content ul {
	font-size: 0.95em;
	padding-left: 15px;
}

div#content ul li {
	margin: 0;
	padding: 10px 0 10px 0;
}

div#signo {
	display: block;
	width: 70px;
	height: 151px;
	background: url('../img/signo.png') top left no-repeat;
	position: absolute;
	top: 259px;
	left: 425px;
}

/*NAVIGATION*/
div#navigation {
	position: absolute;
	bottom: 20;
	height: 30px;
	width: 70px;
	margin-left: 20px;
}
div#navigation input {
	color: #333;
	border: 1px #888 solid;
	background: #e5e5e5;
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 0.7em;
	border-radius: 5px;
}
div#navigation input:hover {
	border: 1px #15919c solid;
	background: #07c0d1;
	cursor: pointer;
	color: #ddd;
}

input#close {
	float: right;
}


.help {
	font-size: 12px;
	vertical-align: top;
}


